@model Video;

<div class="row">
    <div class="col-md-5 col-xxl-4">
        <div class="display-3"></div>
		<video id="templateVideoPlayer" class="rounded-3" controls="controls" muted>
			<source id="videoSource" type="video/mp4" />
        </video>
        <div id="size"></div>
		<div class="progress mb-4">
            <div id="fileProgress" class="progress progress-striped active" style="height:44px;width:100%;" role="progressbar"
                aria-valuemin="0" aria-valuemax="100">
                    <div id="percentage" class="bar" style="height:44px;width:0%;background-color:green"></div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-xxl-8">
        <form asp-action="">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="d-flex flex-row align-items-stretch mb-3">
				<div class="form-floating me-2 flex-fill crop-text-1">
                    <a class="form-control" style="font-size:15px" href="~/Video/watch?url=@Model?.Url" readonly>watch?url=@Model?.Url</a>
                    <label asp-for="Title" class="form-label">Ссылка</label>
                </div>
				<div class="ms-1 flex-nowrap text-nowrap">
                    <select class="form-select" asp-for="VisibilityId"
                            asp-items="Html.GetEnumSelectList<VideoVisibilityEnum>()">
                    </select>
                </div>
            </div>
            <div class="mb-3 form-floating">
				<input asp-for="Title" class="form-control" id="videoTitle" maxlength="100"/>
				<label asp-for="Title" class="form-label">Название</label>
            </div>
            <div class="mb-3 form-floating">
                <textarea asp-for="Description" class="form-control" maxlength="3000"
                    id="videoDescription" style="height: 100px"></textarea>
				<label asp-for="Description" class="form-label">Описание</label>
            </div>
            <div class="row mb-3 px-2">
                <div class="col-3 px-1">
                    <label class="position-relative" for="r3">
                        <img class="img-fluid rounded-3" id="tn3" style="aspect-ratio: 16/9;" src="/Videos/@(Model?.Url)/3.jpg" onerror="this.src='/thumbnail.jpg'">
                        <input type="radio" class="form-check-input position-absolute top-0 start-0 m-1" id="r3" asp-for="Thumbnail" value="3">
						<div class="position-absolute bottom-0 start-50 translate-middle-x p-1 mb-2 opacity-75">
                            <input type="file" id="uploadTnail" accept="image/*" onchange="uploadThumbnail(event)" hidden />
							<label for="uploadTnail" class="btn btn-secondary">Загрузить</label>
                        </div>
                        
                    </label>
                </div>
                @for (int i = 0; i < 3; i++)
                {
                    <div class="col-3 px-1">
						<label class="position-relative" for="r@(i)">
                            <img class="img-fluid rounded-3" id="tn@(i)" style="aspect-ratio: 16/9;" src="/Videos/@Model?.Url/@(i).jpg" onerror="this.src='/thumbnail.jpg'">
                            <input type="radio" class="form-check-input position-absolute top-0 start-0 m-1" id="r@(i)" asp-for="Thumbnail" value="@(i)">
                        </label>
                    </div>
                }
            </div>
			<div class="m-0 p-0">
				<input asp-for="Url" id="videoUrl" type="hidden">
                <input asp-for="UserId" type="hidden">
                <input asp-for="Uploaded" type="hidden">
                <input asp-for="Resolution" type="hidden">
                <input asp-for="Length" type="hidden">
            </div>
			<div class="mb-3">
                <input class="btn btn-outline-success float-right" type="submit" value="Сохранить" formaction="SaveVideo"/>
                <input class="btn btn-outline-danger float-right" type="submit" value="Удалить" formaction="DeleteVideo">
			</div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function uploadThumbnail(event) {
        var formData = new FormData();
        var file = event.currentTarget.files[0];
        formData.append("Url", "@Model?.Url");
        formData.append("file", file);
        $.ajax({
            type: 'POST',
            url: '/api/FileApi/UploadThumbnail',
            contentType: false,
            processData: false,
            data: formData,
            success: function (ok) {
                if(ok){
                    var tn = document.getElementById("tn3");
                    tn.setAttribute("src", "\\Videos\\@Model?.Url\\3.jpg?" + Date.now());
                    var rb = document.getElementById("r3");
                    rb.checked = true;
                }
            }
        });
    };
</script>
