@using System.IO;
@using VideoStreamingService.Models;
@model Video;

@{
	ViewData["Title"] = "Редактор";
}


<div class="row mt-4">
    <div class="col-xl-8 col-lg-10 col-md-12 mx-auto">
        <partial name="_VideoDescription.cshtml" model= "@Model"/>
    </div>
</div>

<script type="text/javascript">
	window.onload = () => {
            var video = document.getElementById('templateVideoPlayer'); 
            video.setAttribute("src", "/api/FileApi/GetVideo?url=@Model.Url&quality=240")
	}
</script>