@using VideoStreamingService.Data;
@using static System.IO.Path;
@using VideoStreamingService.Data.ViewModels;
@using VideoStreamingService.Data.Services;
@inject IAppConfig config;
@model FeedVM;
@{
    ViewData["Title"] = "История просмотра";
}

<div class="container-fluid my-4">
    
	@if (Model.Videos.Count == 0)
	{
		<h1 class="display-4 text-center">Вы пока не посмотрели ни одного видео</h1>
	}

	<div id="videosContainer" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6">
		@await Html.PartialAsync("_Videos", Model)
	</div>
</div>
<script src="~/js/videosOnScroll.js"></script>
<script type="text/javascript">
    var MaxVideoPages = @config.MaxVideoPages;
    var FeedType = "@Model.FeedType.ToString()";
</script>