@{
    ViewData["Title"] = "Политика приватности";
}
<h1 class="text-center mt-3">@ViewData["Title"]</h1>

<p class="text-center">Все права защищены</p>

<!-- Trigger buttons -->
<button class="btn-dark" onclick="showError('Сообщение об ошибке')"></button>

