@using VideoStreamingService.Data;
@using VideoStreamingService.Data.ViewModels;
@inject IAppConfig config;
@model SearchVM;
@{
    ViewData["Title"] = "Поиск";
    ViewData["FeedType"] = Statics.FeedTypeEnum.Search.ToString();
}

<div class="container-fluid my-4 col-12 col-lg-8 col-xl-7 col-xxl-6" style="max-width:900px">
    <div class="row" id="videosContainer">
        @if (Model.SearchElements.Count == 0)
        {
            <h1 class="display-4 text-center">Ничего не найдено</h1>
        }
        else
        {
            @await Html.PartialAsync("_SearchResults", Model)
        }
    </div>
</div>

<script src="~/js/subscription.js"></script>
<script src="~/js/videosOnScroll.js"></script>
<script type="text/javascript">
    var MaxVideoPages = @config.MaxVideoPages;
    var FeedType = "@ViewData["FeedType"]";
    var SearchString = "@Model.SearchString";
</script>